<div class="wrap">
  <h1><strong class = "title-text"><b>Timer</b></strong></h1>

  <div class="countdown">
    <div class="bloc-time hours" data-init-value="{{hours}}">
      <span class="count-title large-text"><h3 class = "large-text">Hours</h3></span>

      <div class="figure hours hours-1">
        <span class="top">0</span>
        <span class="top-back">
          <span>0</span>
        </span>
        <span class="bottom">0</span>
        <span class="bottom-back">
          <span>0</span>
        </span>
      </div>

      <div class="figure hours hours-2">
        <span class="top">1</span>
        <span class="top-back">
          <span>1</span>
        </span>
        <span class="bottom">1</span>
        <span class="bottom-back">
          <span>1</span>
        </span>
      </div>
    </div>

    <div class="bloc-time min" data-init-value="{{minutes}}">
      <span class="count-title large-text"><h3 class = "large-text">Minutes</h3></span>

      <div class="figure min min-1">
        <span class="top">1</span>
        <span class="top-back">
          <span>1</span>
        </span>
        <span class="bottom">1</span>
        <span class="bottom-back">
          <span>1</span>
        </span>
      </div>

      <div class="figure min min-2">
       <span class="top">5</span>
        <span class="top-back">
          <span>5</span>
        </span>
        <span class="bottom">5</span>
        <span class="bottom-back">
          <span>5</span>
        </span>
      </div>
    </div>

    <div class="bloc-time sec" data-init-value="{{seconds}}">
      <span class="count-title"><h3 class = "large-text">Seconds</h3></span>

        <div class="figure sec sec-1">
        <span class="top">0</span>
        <span class="top-back">
          <span>0</span>
        </span>
        <span class="bottom">0</span>
        <span class="bottom-back">
          <span>0</span>
        </span>
      </div>

      <div class="figure sec sec-2">
        <span class="top">0</span>
        <span class="top-back">
          <span>0</span>
        </span>
        <span class="bottom">0</span>
        <span class="bottom-back">
          <span>0</span>
        </span>
      </div>
    </div>
  </div>
</div>
<script src="javascripts/script.js"></script>

